@import "tailwindcss";

html,
body {
  background: #f5f5f4;
  color: #1c1917;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button {
  transition: all 0.2s ease;
}

input {
  transition: all 0.2s ease;
}